/* Viz container */
#display {
    background: #313131;
    margin-bottom: 3em;
    overflow: hidden; /* Cuts of #map-svg and #field-canvas */
    position: relative;
}

/* Basemap */
#map {
    }
    #map-svg {
        }
        path.countries {
            fill: #101010;
            stroke: #666666;
        }
        path.radars {
            fill: #0182C3;
        }

/* Animation */
#animation {
    left: 0;
    position: absolute;
    top: 0;
}
