/* Override some settings from main.css */
.content {
    padding-bottom: 2em;
    padding-top: 2em; /* No h1 */
    max-width: 100%;
}
.header {
    min-width: 24em;
    position: relative;
}

/* Custom css */

#navigation {
    background: transparent;
}

#display {
    background: #313131;
    overflow: hidden; /* Cuts of #map-svg and #field-canvas */
    position: relative;
}

/* Basemap */
#map {
    }
    #map-svg {
        }
        path.countries {
            fill: #101010;
            stroke: #666666;
        }
        path.radars {
            fill: #0182C3;
        }

/* Animation */
#animation {
    left: 0;
    position: absolute;
    top: 0;
}
